

  <form #frmLogin="ngForm" class="form-signin" (ngSubmit)="onLogin(frmLogin)">
    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
    <label for="inputUsername" class="sr-only"  >Username</label>
    <input id="inputUsername" name="username" class="form-control" ngModel required placeholder="Username" type="text">
    <label for="inputPassword" class="sr-only"  >Password</label>
    <input id="inputPassword" name="password" class="form-control" ngModel required placeholder="Password" type="password">
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">Copyright © SSP 2019</p>
  </form>
<!--
  QUIERO EL LOGIN PRIMERO Y QUE DESPUES DESAPAREZCA, EL ROUTER OUTLET NADA MAS QUIERO PONERLO
  EN HOME QUE ES LA PAGINA COMUN ENTRE TODOS MIS COMPONENTES(DONDE APARECEN LAS NAVEGACIONES 
  Y LOS ESTILOS GENERALES)
  -->
 

