<!-- Projects list -->



      <div class="row">
        <!-- Columna con primer form -->
        <div class="col-md-4">
          <form method="post" action="projectManagmentServlet">
            <div class="form-group">
              <input class="form-control" type="text" autofocus placeholder="Buscar proyecto">
            </div>
            <!--  Boton crear proyecto -->
            <div class="input-group mb-3">
              <label class="input-group-text form-control" for="btnCreateProject">Crear Proyecto</label>
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit" id="btnCreateProject"
                  name="btnCreateProject">+</button>
              </div>
            </div>

            <div class="form-group">

              <button type="submit" name="buttonProject" class="list-group-item list-group-item-action btn btn-light"
                (click)="onSelectedProject(proj)" *ngFor="let proj of projService.projects">
                {{proj.name}}
              </button>
            </div>
          </form>
        </div>
        <!-- Columna con segundo form -->
        <div class="col-md-8">
          <project-information (deleteProject)="deleteSelectedProject($event)" [currentProject]="selectedProject"></project-information>
        </div>
      </div>
