<!-- <div id="wrapper">

        <ul class="sidebar navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              SSP
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span>ABM</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <a class="dropdown-item" href="providersManagmentServlet">Proveedores</a>
              <a class="dropdown-item" href="#">Do nothing</a>
              <a class="dropdown-item">Etapas</a>
              <a class="dropdown-item" routerLink="/employees" routerLinkActive="active">Empleados</a>
              <a class="dropdown-item" routerLink="/projects">Proyectos</a>
              <a class="dropdown-item" href="clientsManagmentServlet">Clientes</a>
              <a class="dropdown-item" href="userManagmentServlet">Usuarios</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Gestion Capacitaciones</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">
              <i class="fas fa-fw fa-table"></i>
              <span>Gestion de Proyectos</span></a>
          </li>
        </ul>
      
        <div id="content-wrapper">
          <div class="container-fluid">
            <div class="container">
              <router-outlet></router-outlet>
            </div>
          </div>
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © SSP 2019</span>
              </div>
            </div>
          </footer>
        </div>
      </div>
      
Aca poner el home y poner el guard si esta logueado sguir normal, si no direccionar al LOGIN. -->
  <router-outlet></router-outlet>
  